# requirements/requirements.in

# ---- pyspark (must match Dockerfile SPARK_VERSION) ----
# ---- others (run pip-compile to update to the latest versions) ----

pyspark==3.4.0
ipython
pandas
pyarrow
numpy